/* 

.cards {
    list-style: none;
}

.card {
    text-align: center;
    font-family: sans-serif;
    background-color: rgb(155, 176, 199);
    border-radius: 10px;
    border: rgb(8, 7, 7) 2px ;
    padding: 1rem;
    width: 256px;
    height: 300px;
    display: inline-grid;
    justify-content: space-around;
    margin: 1rem 2rem;
    box-shadow: 3px 4px #2808dd;

} */

